.main_bg{
  height: 400px;
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/945/535/698/nike-purple-wallpaper-preview.jpg');
  background-position: center;
}

.shoseimg {
  width: 400px;
  height: 300px;
}

.col-md-4{
  margin-top:10px;
}

.home {
  color:white;
  text-decoration: none;
  padding-left:30px;
  font-size: 1.2rem;
}

.datail{
  color:white; text-decoration: none;
  padding-left:30px;
  font-size: 1.2rem;
}

.home:hover{
  color:gray;
}

.datail:hover{
    color:gray;
}

.title{
  color:white;
  text-decoration: none;
  padding-left:10px;
  font-size: 1.5rem;
}
.title:hover{
  color: white;
}